MOCHI_DEPLOYMENT=/app/deployments/mainnet.json
PORT=8093
HOST=127.0.0.1
JUROR_OPERATOR=<REQUIRED_OPERATOR_ADDRESS>
JUROR_CLASS=<REQUIRED_INTEGER_0_TO_4>
MODEL_BASE_URL=<REQUIRED_REACHABLE_MODEL_ENDPOINT>
MODEL_ID=<REVIEWED_MODEL_ID>
MODEL_LINEAGE=<REVIEWED_LINEAGE>
MODEL_WEIGHTS_SHA256=<REQUIRED_REVIEWED_SHA256_OR_USE_MODEL_WEIGHTS_DIR>
MODEL_OPEN_WEIGHTS=<REVIEWED_TRUE_OR_FALSE>
MODEL_PROVIDER=<REVIEWED_PROVIDER>
ZDR=<REVIEWED_TRUE_OR_FALSE>
RUNNER=<REVIEWED_RUNNER>
MODEL_TIMEOUT_MS=120000
TEE_MODE=dstack
TEE_KEYS=kms
TEE_KEY_LABEL=production-juror-<UNIQUE_KEY_LABEL>
QUOTE_VERIFIER=dcap
SEALED_STORE_DIR=/data/juror-sealed
MAX_TOKENS=4096
